# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so
*.pyd

# Virtual environments
venv/
.env/
env/
*.venv
poetry.lock

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and database files
*.log
*.sqlite3

# OS-specific files
.DS_Store
Thumbs.db

# IDE / Editor files
.vscode/
*.swp
*.swo

# Poetry dependencies
poetry.lock

# Results and output files
results.csv
*.csv
